.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  overflow: auto;
}

#content{
  margin-left: 265px;
  width: calc(100% - 300px);
}
.form-group {
  margin-bottom: 2px !important;
}

button:disabled,
button[disabled]{
  cursor: not-allowed;
}

table{
  font-size: 11px;
}
